

html { font-family: sans-serif; background: #eee; }
body{
  max-width: 960px;
  margin: 0 auto; 
  background: white;
  
}

span{
  color:slateblue;
  font-size: xx-large;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  padding: 16px;
  padding-left: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

input[type=text], input[type=password],textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; padding-left: 10px;}
.post .body { white-space: pre-line; padding-left: 10px;}

